/* Generales */

*{
    margin: 0px;
    padding: 0px;
    font-family: "Comic Sans MS";
}

html {
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: black;
}

#header-general{
    background-color: #101f2c;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}

#nav{
    padding: 0px;
    margin: 0px;
}

#nav a{
    color: white;
    text-decoration: none;
    padding: 8px 12px;
}

#footer-general{
    background-color: #566573;
    color: white;
    padding: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}

/* INDEX */

#main-informacion{
    background-color: #E0E1DD;
}

.section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

/* CANCIONES DESTACADAS */

/* TITULO CANCIONES DESTACADAS*/

.titulos{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #101f2c;
    color: white;
    width: 100vw;
    height: 100px;
}

/* GRID CANCIONES DESTACADAS*/
.grid-canciones{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.canciones-div1 { grid-area: 1 / 1 / 5 / 5; }
.canciones-div2 { grid-area: 1 / 5 / 3 / 7; }
.canciones-div3 { grid-area: 1 / 7 / 3 / 9; }
.canciones-div4 { grid-area: 1 / 9 / 3 / 11; }
.canciones-div5 { grid-area: 3 / 5 / 5 / 7; }
.canciones-div6 { grid-area: 3 / 7 / 5 / 9; }
.canciones-div7 { grid-area: 3 / 9 / 5 / 11; }

.box-canciones{
    padding: 5px;
    margin: 5px;
}

.spotify-cancion {
    width: 100%;
    height: 100%;
}

.iframe-youtube{
    width: 705px;
    height: 100%;
    border-radius: 5px; 

}

/* SPOTIFY */

.iframe-spotify{
    width: 95vw;
    height: 700px;
    max-height: 100%; 
    margin: 15px;
}

/* SOBRE EL ALBUM */