/* Generales */

*{
    margin: 0px;
    padding: 0px;
    font-family: "Comic Sans MS";
}

a{
    text-decoration: none;
    color: black;
}

#header-general{
    background-color: #566573;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    
}

#nav{
    padding: 0px;
    margin: 0px;
}

#nav a{
    color: white;
    text-decoration: none;
    padding: 8px 12px;
}

#footer-general{
    background-color: #566573;
    color: white;
    padding: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}

/* INDEX */

#main-informacion{
    background-color: #E0E1DD;
    padding: 0px;
}

#section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 5px;
    margin: 5px;
}